body{
    margin:0
}

.banner{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.heading{
    margin:auto;
    text-align: center;
    line-height:51px;
    vertical-align:middle;
}

.footer{
    background-color : #0E242D;
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #83B94A !important;
  border-color: #83B94A;
}

.btn-primary:hover {
  background-color: #a1e25b !important;
  border-color: #a1e25b;
}